
// minhas cores

$edit: yellow;

// cores das categorias

$d: #683931;   // Dança, Teatro e Circo
$cS: #AD3B3B;  // Escultura
$uA: #C95B40;  // Arte Urbana
$dA: #DBB753;  // Arte Digital
$pC: #E6B545;  // Cultura Popular
$mP: #529E63;  // Museologia
$hC: #49833A;  // Artesanato
$f: #254C26;   // Fotografia
$l: #2F5497;   // Literatura
$cA: #4692C1;  // Cinema e AudioVisual
$cR: #86BCD3;  // Cultura e Representação
$mU: #D3869B;  // Música
$fol: #CB6883; // Folclore
$g: #C44B6E;   // Gastronomia
$mO: #BD6A5C;  // Moda
$cP: #AD3B3B;  // Produtor Cultural
$e: #653830;   // Estabelecimento
$i: #C95B40;   // Instituição

$error: #bb0000;
$error2: #cc0000;

// breakpointes
$breakpoints: (
  'phone':  640px,
  'tablet-portrait': 900px,
  'tablet-landscape': 1200px,
  'desktop':  1800px,
  'large': 1900px,
) !default;


.bg-default {
    background-color: f5f5f5;
}

.bg-dance {
    background-color: $d;
}

.bg-sculpture {
    background-color: $cS;
}

.bg-urban-art {
    background-color: $uA;
}

.bg-digital-art {
    background-color: $dA;
}

.bg-pop-culture {
    background-color: $pC;
}

.bg-museology {
    background-color: $mP;
}

.bg-hand-craft {
    background-color: $hC;
}

.bg-photography {
    background-color: $f;
}

.bg-literature {
    background-color: $l;
}

.bg-cinema {
    background-color: $cA;
}

.bg-representation {
    background-color: $cR;
}

.bg-music {
    background-color: $mU;
}

.bg-folklore {
    background-color: $d;
}

.bg-gastronomy {
    background-color: $g;
}

.bg-fashion {
    background-color: $mO;
}

.bg-culture-producer {
    background-color: $cP;
}

.bg-establishment {
    background-color: $e;
}

.bg-institution {
    background-color: $i;
}


// ----------------- typograph styleguide ---------------------------------
  
.big-title {
  font-size: 3rem;  // 48 px
  letter-spacing: -0.5px;
  line-height: 2.5rem;
}

.title-1 {
  font-size: 2.125rem;  // 34 px
}

.title-2 {
  font-size: 1.75rem;  // 28 px
}

.title-3 {
  font-size: 1.125rem; // 18 px
}

.headline {
  font-size: 1.375rem;  // 22 px
  letter-spacing: 0.25px;
}

.headline-2 {
  font-size: 1.125rem;  // 18 px
}

.headline-3 {
  font-size: 1rem;  // 16 px
  letter-spacing: 0.15px;
}

.body-1 {
  font-size: 1.125rem;  // 18 px
  letter-spacing: 0.15px;
}

.body-2 {
  font-size: 1rem;  // 16 px
  letter-spacing: 0.15px;
}

.body-large {
  font-size: 1.125rem;  // 18 px
  letter-spacing: 0.15px;
  font-weight: bold;
}

.body-large2 {
  font-size: 1rem;  // 16 px
  letter-spacing: 0.15px;
  font-weight: bold;
}

.caption {
  font-size: 0.75rem;  // 12 px
  letter-spacing: 0.4px;
}

.overline {
  font-size: 0.625rem; // 10 px
  letter-spacing: 1.5px;
}

.btn-text {
  font-size: 0.875em;  // 14 px
  letter-spacing: 1.25px;
}

.ligth {
  font-weight: lighter;
}

.bold {
  font-weight: 500;
}

.bolder {
  font-weight: 700;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.line-h16 {
  line-height: 1em;
}